*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url("#");
    background-size: cover;
    background-position: center;
    padding: 30px 20%;
    transition: background-image 0.3s;
}
nav{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav .logo{
    width: 160px;
    cursor: pointer;
}
nav .btn{
    text-decoration: none;
    background: black;
    color: white;
    border-radius: 20px;
    padding: 20px;
    font-weight: 600;
    font-size: large;

}
nav .btn:hover{
    background: rgb(18, 18, 190);
}
.content{
    margin-top: 10%;

}
.content h2{
    color: rgb(59, 5, 255);
    font-size: 34px;
}
.content h1{
    font-size: 100px;
    color: black;
    margin-top: -25px;
}
.content p{
    max-width: 380px;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.content h3{
    margin-top: 30px;
    font-weight: 600;
    font-size: 28px;
}
.colours div{
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.colours{
    display: flex;
    margin-top: 30px;
}
.colours #red{
    background: red;
}
.colours #black{
    background: black;
}
.colours #blue{
    background: blue;
}
.content a{
    text-decoration: none;
}
.content a button {
    background: black;
    color: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    border-style: none;
}
.content a button:hover{
    background: rgb(4, 46, 235);
    color: white;

}

/*responsive deign*/

